body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: floralwhite;
}

#fernando {
  background-color: red;
  border-radius: 50%;
}

#david {
background-color: rgb(72, 255, 0); 
border-radius: 50%;
}

#christian {
background-color: blue;
border-radius: 50%;
}

#arielle {
background-color: darkorchid;
 border-radius: 50%;
}

#irene {
  background-color: deeppink;
  border-radius: 50%;
}

#gato{
  background-color: goldenrod;
  border-radius: 50%;

}
#patatasfritas{
  background-color: darkorange;
  border-radius: 50%;
  
}
  